extends layout

block extraHeader
  link(rel='stylesheet', href='./stylesheets/pandoc.css')

block content
  include pandocSelectlang
  h1= title

  p(id='message')
  div(class='content')
    div(class='flex-content flex-row')
      div(class='flex-column')
        +selectLang(srcName, srcLabel, srclanguages, '#h1\r##h2')
        textarea(id='srcText').
          ## 見出し

          # H1タグ

          ## H2タグ

          ###### H6タグ



          ## 強調

          *イタリック*

          _イタリック_

          **太字**

          __太字__



          ## 順序なしリスト 文頭に「*」「+」「-」のいずれか

          * 項目1
          * 項目2
          * 項目3



          ## 順序付きリスト 文頭に「数字.」

          1. 項目1
          2. 項目2
          3. 項目3



          ## リンク \[リンクテキスト](URL "タイトル")

          [Google](https://www.google.co.jp "Google")

          [Qiita](http://qiita.com "Qiita")



          ## 画像埋め込み \!\[代替テキスト](画像のURL "画像タイトル")

          ![Github](https://assets-cdn.github.com/images/modules/open_graph/github-mark.png "Github")



          ## テーブル
          | Left align | Right align | Center align
          |:-----------|------------:|:------------:|
          | This       |        This |     This     |
          | column     |      column |    column    |
          | will       |        will |     will     |
          | be         |          be |      be      |
          | left       |       right |    center    |
          | aligned    |     aligned |   aligned    |



          ## 引用

          > この文章は引用



          ## 水辺線

          * * *

          ***

          *****

          - - -

          ---------------------------------------


      div(class='flex-column')
        button(id='convertButton' type='button') 変換
        button(id='swapButton' type='button') ⇔入れ替え

      div(class='flex-column')
        +selectLang(dstName, dstLabel, dstlanguages)
        textarea(id='dstText')

    div(class='preview')
      p プレビュー
      div(id='dangerousHtml')


  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src='./javascripts/main.js')
