#message {
  color: red;
}
.content textarea {
  width: 400px;
  height: 400px;
}
.content {
  display: flex;
}
.flex-column {
  flex-direction: column;
  button {
    margin: 50px;
    display: block;
  }
}
